/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('back-main.jpeg'); /* Agrega la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene la imagen de fondo fija */
    color: rgba(255, 255, 255, 0.728);
  }
 
  .logo-link {
  margin-left: 50px; /* Ajusta este valor según necesites */
}

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Ajusta el valor de opacidad */
    pointer-events: none; /* Permite interactuar con los elementos debajo */
    z-index: -1; /* Coloca el fondo por detrás de los demás elementos */
  }

  /* Estilos del encabezado y navegación */
  header {
    text-align: center;
    padding: 100px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Estilos del botón de llamada a la acción */
.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }

  /* Estilos de la sección de servicios */
  #servicios {
    padding: 50px 0;
    text-align: center;
  }
  
  .services-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centrar horizontalmente los elementos */
    flex-wrap: wrap; 
  }
  
  .service {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.595);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex: 1;
    max-width: calc(33.33% - 40px);
  }
  
  .service:hover {
    transform: translateY(-5px);
  }
  
  .service img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .service h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .service p {
    font-size: 20px;
    color: #666;
  }
  
 /* Estilos de la sección de precios */
#precios {
    padding: 80px 0; /* Espaciado vertical */
    background-color: rgba(16, 16, 16, 0.217); /* Fondo con transparencia */
    text-align: center;
    position: relative; /* Posición relativa para contenido superpuesto */
    overflow: hidden; /* Oculta contenido que se desborda */
  }
  
  .pricing-container {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto;
  }
  
  .pricing-header {
    margin-bottom: 30px;
  }
  
  .pricing-header h2 {
    font-size: 28px;
    color: #333; /* Color de título */
    margin-bottom: 10px;
  }
  
  .pricing-header p {
    font-size: 18px;
    color: #666; /* Color de descripción */
  }
  
  .price-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-wrap: wrap; /* Ajusta los precios en múltiples filas */
  }
  
  .price-list li {
    font-size: 24px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #201f1f38; /* Fondo de precio */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease-in-out; /* Transición al pasar el cursor */
  }
  
  .price-list li:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
  }
    
  
/* Estilos del pie de página */
footer {
    background-color: #17161668;
    text-align: center;
  }


  